.sectorComponent{
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
   width: 720px;
   border-radius: 10px;
   margin-left: 10px;
   margin-top: 10px;
   padding-left: 20px;
}

.dashboardSecondItem{
    display: flex;
    align-items: center;
    
}

.dashboardFirstItem{
    display: flex;
    align-items: center;
}